
<div class="jumbotron">
    <div class="container">
        <div id = "center">
      <h1 class="display-4">Pets Catalogue</h1>
      <br><br>
	   
      <p class="lead">You have {{ filteredPets.length }} pets. And you said goodbye to  pets.</p>
      <br>
      <p>REMARK : you have 0 pets means all dead , because the seeder is filling the date of death as well for the objects (pets)</p>
      </div>
      <img id ="pic" height = "500px" width = "900px" src="assets/pets.png" alt="pets">
    
    </div>
  </div>